= content_title t('devise.confirmations.resend')

= simple_form_for(resource, :as => resource_name, :url => confirmation_path(resource_name)) do |f|
  = devise_error_messages!

  = f.input :email

  =f.button :submit, t('devise.confirmations.resend')

= render 'users/shared/links'
