= simple_form_for([:admin, @administrator]) do |f|
  = f.error_messages

  %fieldset
    %legend= t('administrator.identity')
    = f.input :name
    = f.input :email

  %fieldset
    %legend= t('administrator.credentials')
    = f.input :password
    = f.input :password_confirmation

  %fieldset
    %legend= t('administrator.account_status')
    = f.input :blocked, :as => :boolean

  .buttons
    = f.button :submit
