= simple_form_for([:admin, @administrator]) do |f|
  = f.error_messages

  %fieldset
    %legend= 'Identity'
    = f.input :name
    = f.input :email

  %fieldset
    %legend= 'Credentials'
    = f.input :password
    = f.input :password_confirmation

  %fieldset
    %legend= 'Account state'
    = f.input :blocked, :as => :boolean

  .buttons
    = f.button :submit
