<%= render :partial => 'shared/user_sidebar' %>

<% block :title => t('userSession.myPersonnalInformations') do %>
	<p>
<%= User.human_attribute_name('name') %> : 
	  <%=h @user_session.user.name %>
	</p>
	<p>
		<%= User.human_attribute_name('email') %> :
		<%=h @user_session.user.email %>
	</p>
	<% unless @user_session.user.guild.blank? %>
		<p><%= User.human_attribute_name('guild') %> : <%=h @user_session.user.guild.name %></p>
	<%end %>
<% end %>

<% block :title => t('userSession.myPigMoneybox') do %>
	<%= t 'userSession.amount' %> : <%= @user_session.user.pigMoneyBox %> kamas
<% end %>

<% block :title => t('userSession.myOrders') do %>
	<%= render :partial => 'orders_table', :locals => { :orders => @user_session.user.orders.ongoing } %>
<% end %>
