<div class="block">
	<div class="block_header">My personnal informations</div>
	<div class="block_body">
		<p>
		  Username : 
		  <%=h @user_session.user.name %>
		</p>
		<p>
			Guildname :
			<%=h @user_session.user.guild.name %>
		</p>
	</div>
</div>

<div class="block">
	<div class="block_header">My pig money box</div>
	<div class="block_body">
		Amount : <%= @user_session.user.pigMoneyBox %> kamas
	</div>
</div>

<div class="block">
	<div class="block_header">My deposites</div> 
	<div class="block_body">
		<%= render :partial => 'admin/deposites/table', :locals => { :deposites => @user_session.user.deposites } %>
	</div>
</div>

<div class="block">
	<div class="block_header">My orders</div>
	<div class="block_body">
		<%= render :partial => 'orders_table', :locals => { :orders => @user_session.user.orders.ongoing } %>
	</div>
</div>
