= simple_form_for(cart, :url => cart_path) do |f|
  = f.error_messages

  = f.simple_fields_for(:lines) do |l|
    = l.association :asset, :prompt => nil
    = l.input :quantity
    = l.input :_destroy, :as => :boolean

  .buttons
    = f.button :submit, :name => 'addline', :value => t('cart_line.add')
    = f.button :submit
