-#Boutique is a saleroom website for Dofus resources, originally created
  for the merchant guild "Les Marchands d'Hyze"
  Copyright (C) 2011 - Jérémie Horhant (jeremie dot horhant at titinux dot net)

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.

= content_title t('cart.my_cart')

- if @cart.lines.empty?
  = t('cart.cart_empty')
- else
  = render 'cart_lines/table', :cart => @cart, :show_actions => true

  %p= link_to_destroy cart_path, :text => t('cart.empty'), :format => :long
  %p= link_to t('cart.quick'), edit_cart_path
  %p= link_to t('cart.save'), save_cart_path
  %p= link_to t('order.makeOrder'), to_order_cart_path

