= simple_form_for([:admin, @asset]) do |f|
  = f.error_messages

  = f.input :name
  = f.association :category
  = f.input :pictureUri
  = f.input :unitaryPrice
  = f.input :floatPrice

  = f.button :submit
