<tr class="<%= cycle('even', 'odd')%>">
  <td><%=h asset.name %></td>
  <td><%=h asset.category.name %></td>
	<td class="picture"><%= image_tag(asset.pictureUri, :alt => t('pictureOf', :subject => asset.name), :width => 50, :height => 50) unless asset.pictureUri.blank? %></td>
  <td class="currency"><%=h asset.unitaryPrice %></td>
  <td><%=h asset.floatPrice %></td>
  <td class="actions">
  	<%= link_to_show admin_asset_path(asset) %>
  	<%= link_to_edit edit_admin_asset_path(asset) %>
  	<%= link_to_destroy admin_asset_path(asset) %>
	</td>
</tr>
