<tr class="<%= cycle('even', 'odd')%>">
  <td><%=h asset.name %></td>
  <td><%=h asset.category.name %></td>
  <td><%=h asset.pictureUri %></td>
  <td class="currency"><%=h asset.unitaryPrice %></td>
  <td><%=h asset.floatPrice %></td>
  <td>
  	<%= link_to t('show'), [:admin, asset] %> |
  	<%= link_to t('edit'), edit_admin_asset_path(asset) %> |
  	<%= link_to t('destroy'), [:admin, asset], :confirm => t('destroy_confirm'), :method => :delete %>
	</td>
</tr>
