<table>
	<thead>
  <tr>
    <th><%= Asset.human_attribute_name('name') %></th>
    <th><%= Asset.human_attribute_name('category') %></th>
    <th><%= Asset.human_attribute_name('pictureUri') %></th>
    <th><%= Asset.human_attribute_name('unitaryprice') %></th>
    <th><%= Asset.human_attribute_name('floatprice') %></th>
  </tr>
	</thead>
	<tbody>
		<% assets.each do |asset| %>
		  <%= render :partial => 'admin/assets/row', :locals => { :asset => asset } %>
		<% end %>
	</tbody>
</table>
