<p>
  <b><%= Asset.human_attribute_name('name') %>:</b>
  <%=h @asset.name %>
</p>

<p>
  <b><%= Asset.human_attribute_name('category') %>:</b>
  <%=h @asset.category.name %>
</p>

<p>
  <b><%= Asset.human_attribute_name('pictureUri') %>:</b>
  <%=h @asset.pictureUri %>
</p>

<p>
  <b><%= Asset.human_attribute_name('unitaryprice') %>:</b>
  <%=h @asset.unitaryPrice %>
</p>

<p>
  <b><%= Asset.human_attribute_name('floatprice') %>:</b>
  <%=h @asset.floatPrice %>
</p>

<%= link_to_back admin_assets_path %>
<%= link_to_edit edit_admin_asset_path(@asset) %>
