-#Boutique is a saleroom website for Dofus resources, originally created
  for the merchant guild "Les Marchands d'Hyze"
  Copyright (C) 2013 - Jérémie Horhant (jeremie dot horhant at titinux dot net)

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.

= content_title t('devise.links.sign_in')

= frame :title => t('user.have_acount'), :class => 'sign_in' do

  = simple_form_for(resource, :as => resource_name, :url => new_user_session_path) do |f|
    = f.input :name, :hint => t('user.name_hint'), :input_html => { :maxlength => 50 }
    = f.input :password, :input_html => { :size => 25 }

    .buttons
      = f.button :submit, t('devise.links.sign_in')

  = render 'users/shared/links'

= frame :title => t('user.no_account_yet'), :class => 'sign_up' do
  %ul
    %li= link_to t('devise.links.sign_up'), new_user_path
