<h1>Editing deposite</h1>

<% form_for(@deposite) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :user %><br />
    <%= f.collection_select(:user_id, User.find(:all), :id, :name) %>
  </p>
  <p>
    <%= f.label :asset %><br />
    <%= f.collection_select(:asset_id, Asset.find(:all), :id, :name) %>
  </p>
  <p>
    <%= f.label :quantity %><br />
    <%= f.text_field :quantity %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @deposite %> |
<%= link_to 'Back', deposites_path %>
