<%= render :partial => 'shared/user_sidebar' %>

<div class="block">
	<div class="block_header"><%= t('deposite.validated') %></div> 
	<div class="block_body">
		<%= render :partial => 'table', :locals => { :deposites => @validated_deposites } %>
	</div>
</div>

<div class="block">
	<div class="block_header"><%= t('deposite.waiting') %></div> 
	<div class="block_body">
		<%= render :partial => 'table', :locals => { :deposites => @waiting_deposites } %>
	</div>
</div>

<p><%= link_to t('deposite.new'), new_deposite_path %></p>