-#Boutique is a saleroom website for Dofus resources, originally created
  for the merchant guild "Les Marchands d'Hyze"
  Copyright (C) 2011 - Jérémie Horhant (jeremie dot horhant at titinux dot net)

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.

= form_tag admin_orders_path, { :method => :get, :class => :horizontal } do
  %fieldset
    %legend= "#{t('filters')} :"

    %ol
      %li
        = label_tag :id, Order.human_attribute_name('id')
        = text_field_tag(:id, params[:id])

      %li
        = label_tag :user_id, User.human_attribute_name('name')
        = select_tag(:user_id, my_select_options(Order.joins(:user).select('`users`.`name`, `orders`.`user_id`').group("`orders`.`user_id`").order("`users`.`name`").collect{|item| [item.name, item.user_id]}, :selected => params[:user_id], :include_blank => true) )

      %li
        = label_tag :state, Order.human_attribute_name('state')
        = select_tag(:state, my_select_options(orderStatusHash.collect{|k, v| [v, k] }, :selected => params[:state], :include_blank => true) )

    = submit_tag t('filter'), :name => nil
