= simple_form_for([:admin, @order]) do |f|
  = f.error_messages

  = f.association :user, :include_blank => false
  = f.input :state, :collection => orderStatusHash.collect{|k, v| [v, k]}, :include_blank => false

  %table#order_lines
    %tr
      %th= Asset.model_name.human
      %th= OrderLine.human_attribute_name :quantity
      %th= OrderLine.human_attribute_name :unitary_price

    = f.simple_fields_for :lines do |fl|
      = render 'line_fields', :f => fl

  .buttons
    = f.button :submit
