= f.error_messages

%p
  = f.label :user_id
  = f.collection_select(:user_id, User.find(:all), :id, :name)

%p
  = f.label :state
  = f.select :state, orderStatusHash.collect{|k, v| [v, k] }

%table#order_lines
  %tr
    %th Asset
    %th Quantity
    %th Unitary price

  - @order.orderLines.each do |order_line|
    = render :partial => 'order_line', :locals => { :form_line => order_line }

%p= add_order_line_link 'Add a line'
%p= f.submit bt_name
