<%= f.error_messages %>

<p>
  <%= f.label :user_id %>
  <%= f.collection_select(:user_id, User.find(:all), :id, :name) %>
</p>
<p>
  <%= f.label :state %>
	<%= f.select :state, orderStatusHash.collect{|k, v| [v, k] } %>
</p>

<table id="order_lines">
	<tr>
		<th>Asset</th>
		<th>Quantity</th>
		<th>Unitary price</th>
	</tr>
	
	<% @order.orderLines.each do |orderLine| %>
	  <%= render :partial => 'order_line', :locals => { :form_line => orderLine } %>
	<% end %>
</table>

<p>
<%= add_order_line_link 'Add a line' %>
</p>
<p>
  <%= f.submit bt_name %>
</p>
