<tr>
  <td><%=h order.id %></td>
	<td><%=h order.user.name %></td>
  <td><%=h orderStatusHash[order.state] %></td>
  <td><%= link_to 'Show', [:admin, order] %></td>
  <td><%= link_to 'Edit', edit_admin_order_path(order) %></td>
  <td><%= link_to 'Destroy', [:admin, order], :confirm => 'Are you sure?', :method => :delete %></td>
</tr>
