<tr class="<%= cycle('even', 'odd')%>">
  <td><%=h order.id %></td>
	<td><%=h order.user.name %></td>
  <td><%=h orderStatusHash[order.state] %></td>
	<td class="currency"><%=h order.totalAmount %></td>
  <td>
  	<%= link_to 'Show', [:admin, order] %> |
  	<%= link_to 'Edit', edit_admin_order_path(order) %> |
  	<%= link_to 'Destroy', [:admin, order], :confirm => 'Are you sure?', :method => :delete %>
	</td>
</tr>
