<table>
  <thead>
		<tr>
			<th><%= Order.human_attribute_name('id') %></th>
			<th><%= User.human_attribute_name('name') %></th>
			<th><%= Order.human_attribute_name('state') %></th>
			<th><%= Order.human_attribute_name('totalAmount') %></th>
      <th><%= Order.human_attribute_name('dispatched') %></th>
			<th><%= t('action').pluralize %></th>
		</tr>
	</thead>
	<tbody>
		<% orders.each do |order| -%>
      <tr class="<%= cycle('even', 'odd')%>">
        <td><%=h order.id %></td>
        <td><%=h order.user.name %></td>
        <td><%=h orderStatusHash[order.state] %></td>
        <td class="currency"><%=h number_to_currency(order.totalAmount) %></td>
        <td><%= order.dispatched %></td>
        <td class="actions">
          <%= link_to_show admin_order_path(order) %>
          <%= link_to_edit edit_admin_order_path(order) %>
          <%= link_to_destroy admin_order_path(order) %>
        </td>
      </tr>
		<% end -%>
	</tbody>
</table>
