%table
  %thead
    %tr
      %th= sort_link @search, :id
      %th= sort_link @search, :user_name, User.model_name.human
      %th= Order.human_attribute_name :state
      %th= Order.human_attribute_name :totalAmount
      %th= sort_link @search, :created_at
      %th= t('action').pluralize

  %tbody
    - orders.each do |order|
      %tr{ :class => "#{cycle('even', 'odd')}" }
        %td= order.id
        %td= order.user.name
        %td= orderStatusHash[order.state]
        %td.currency= number_to_currency(order.totalAmount)
        %td.date= l(order.created_at)
        %td.actions
          = link_to_show admin_order_path(order)
          = link_to_edit edit_admin_order_path(order)
          = link_to_destroy admin_order_path(order)
