= content_title t('order.listing')

%p.filter
  = simple_form_for([:admin, @search]) do |f|
    = f.input :id_equals, :label => Order.human_attribute_name(:id), :required => false
    = f.input :user_name_equals, :label => User.model_name.human, :required => false

    .buttons
      = f.button :submit, t('helpers.submit.search')

= paginate @orders
= render :partial => 'table', :locals => { :orders => @orders }

%br
= link_to_add new_admin_order_path, :text => t('order.new'), :format => :long
