<p>
  <%= User.human_attribute_name('name') %>:
  <%=h @order.user.name %>
</p>

<p>
  <%= Order.human_attribute_name('state') %>:
  <%=h orderStatusHash[@order.state] %>
</p>

<%= render :partial => 'admin/order_lines/table', :locals => { :order => @order } %>

<p>
	<%= Order.human_attribute_name('totalAmount') %>:
	<%=h number_to_currency(@order.totalAmount) %>
</p>
<p>
  <%= Order.human_attribute_name('dispatched') %> :
  <%= @order.dispatched %>
</p>

<%= link_to_back admin_orders_path %>
<%= link_to_edit edit_admin_order_path(@order) %>
