-#Boutique is a saleroom website for Dofus resources, originally created
  for the merchant guild "Les Marchands d'Hyze"
  Copyright (C) 2013 - Jérémie Horhant (jeremie dot horhant at titinux dot net)

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.

= content_title t('order.commandId', id: @order.id)

= show_for @order do |o|
  = o.association :user, using: :name
  = o.attribute :state do
    %span.label{ class: @order.state }= @order.aasm.human_state

  = o.attribute :total do
    = number_to_currency(@order.total, unit: 'K', precision: 0)

  = o.attribute :dispatched
  = o.attribute :created_at
  = o.attribute :comment

= frame title: t('order.details') do
  = render partial: 'admin/order_lines/table', locals: { order: @order }

%ul.nav.nav-list
  %li.nav-header= t('action').pluralize
  %li= link_to_edit edit_admin_order_path(@order)
  - unless @order.quote_ready?
    %li= link_to t('order.draw_up_quote'), quote_admin_order_path(@order)

  %li.nav-header= t('event').pluralize
  - @order.aasm.events.each do |event|
    %li= link_to Order.aasm.human_event_name(event.name), event_admin_order_path(@order, event.name.to_s), method: :post
