%h2= t('order.commandId', :id => @order.id)

= show_for @order do |o|
  = o.association :user, :using => :name
  = o.attribute :state do
    = orderStatusHash[@order.state]
  = o.attribute :totalAmount do
    = number_to_currency(@order.totalAmount)
  = o.attribute :dispatched
  = o.attribute :created_at

= block :title => t('order.details') do
  = render :partial => 'admin/order_lines/table', :locals => { :order => @order }

= link_to_back admin_orders_path
= link_to_edit edit_admin_order_path(@order)
