<% unless @category.nil? %>
	<div id="category">
		<div class="block">
			<div class="block_header"><%= h @category.name %></div>
			<div class="block_body">
				<div id="assets">
					<% unless @category.nil? %>
							<% @category.assets.each do |asset| %>
								<div class="asset">
									<% unless asset.pictureUri.blank? %>
										<%= image_tag asset.pictureUri %><br />
									<% end %>
									<%= asset.name %><br />
									<%= link_to '(add to cart)', new_cart_path(:asset_id => asset.id) %>
								</div>
							<% end %>
					<% end %>
				</div>	
				<hr class="spacer" />
			</div>
		</div>
	</div>
<% end %>

<div id="categories">
	<% @subCategories.each do |category| %>
		<%= render :partial => 'subCategories', :locals => { :category => category } %>
	<% end %>
	<hr class="spacer" />
</div>