- unless @category.nil?
  %div#category
    = block :title => h(@category.name), :body_class => 'category' do
      - unless @category.parent.blank?
        %p= link_to t('category.goParent'), categories_path(:cat => @category.parent.id)
      - else
        %p= link_to t('category.goParent'), categories_path()

      = render :partial => 'assets' , :locals => { :assets => @category.assets}
      %hr.spacer

%div#categories
  - @subCategories.each do |category|
    = render :partial => 'subCategories', :locals => { :category => category }
  %hr.spacer
