<% unless @category.nil? %>
	<div id="category">
		<div class="block">
			<div class="block_header"><%= h @category.name %></div>
			<div class="block_body category">
				<% unless @category.parent.blank? %>
					<p><%= link_to t('category.goParent'), categories_path(:cat => @category.parent.id) %></p>
				<% else %>
					<p><%= link_to t('category.goParent'), categories_path() %></p>
				<% end %>
				
				<%= render :partial => 'assets' , :locals => { :assets => @category.assets} %>
				<hr class="spacer" />
			</div>
		</div>
	</div>
<% end %>

<div id="categories">
	<% @subCategories.each do |category| %>
		<%= render :partial => 'subCategories', :locals => { :category => category } %>
	<% end %>
	<hr class="spacer" />
</div>