= simple_form_for @user, :url => user_path do |f|
  = f.error_messages

  - if f.object.new_record?
    = f.input :name

  = f.input :dofusNicknames
  = f.input :password
  = f.input :password_confirmation
  = f.input :email
  = f.association :guild

  = f.button :submit
