%table
  %col
  %col{ :width => '100%' }
  %thead
    %tr
      %th= Order.human_attribute_name('id')
      %th= Order.human_attribute_name('state')
      %th= t('order.actions')

  %tbody
    - orders.each do |order|
      %tr{ :class => "#{cycle('even', 'odd')}" }
        %td= order.id
        %td= orderStatusHash[order.state]
        %td.actions= link_to_show order_path(order)
