<table>
  <col />
	<col width="100%" />
	<thead>
		<tr>
			<th><%= Order.human_attribute_name('id') %></th>
			<th><%= Order.human_attribute_name('state') %></th>
			<th><%= t('order.actions') %></th>
	  </tr>
	</thead>
	<tbody>
		<% orders.each do |order| -%>
      <tr class="<%= cycle('even', 'odd') %>">
        <td><%=h order.id %></td>
        <td><%=h orderStatusHash[order.state] %></td>
        <td class="actions"><%= link_to_show order_path(order) %></td>
      </tr>
		<% end -%>
	</tbody>
</table>

