= render :partial => 'shared/user_sidebar'

= block :title => t('user.myPersonnalInformations') do
  = show_for @user do |u|
    = u.attribute :name
    = u.attribute :dofusNicknames
    = u.attribute :email
    = u.association :guild, :using => :name
    = u.attribute :gatherer do
      = boolean_to_image(@user.gatherer)
    = u.attribute :admin do
      = boolean_to_image(@user.admin)

  = link_to_edit edit_user_path


= block :title => t('user.myPigMoneybox') do
  = show_for @user do |u|
    = u.attribute :pigMoneyBox do
      = number_to_currency(@user.pigMoneyBox)
