= content_for :sidebar do
  = block :title => t('user.block') do
    %ul
      %li= link_to t('user.infos') , user_path
      - if user_session.user.gatherer
        %li= link_to Deposit.model_name.human , user_deposits_path
      %li= link_to Order.model_name.human.pluralize, user_orders_path
