%table#order_lines
  %thead
    %tr
      %th Asset
      %th Quantity
      %th Unitary Price
      %th Price

  %tbody
    - order.orderLines.each do |order_line|
      %tr{ :class => "#{cycle('even', 'odd')}" }
        %td= order_line.asset.name
        %td.number= order_line.quantity
        %td.currency= order_line.unitaryPrice
        %td.currency= number_to_currency(order_line.price)
