-#Boutique is a saleroom website for Dofus resources, originally created
  for the merchant guild "Les Marchands d'Hyze"
  Copyright (C) 2013 - Jérémie Horhant (jeremie dot horhant at titinux dot net)

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.

%table#order_lines.table.table-bordered.table-striped
  %thead
    %tr
      %th= Asset.model_name.human
      %th= OrderLine.human_attribute_name :quantity
      %th= OrderLine.human_attribute_name :unitaryPrice
      %th= OrderLine.human_attribute_name :price

  %tbody
    - order.lines.each do |order_line|
      %tr
        %td= order_line.asset.name
        %td.number= number_with_delimiter(order_line.quantity)
        %td.currency= number_to_currency(order_line.unitaryPrice, unit: 'K', precision: 2)
        %td.currency= number_to_currency(order_line.price, unit: 'K', precision: 0)
