<table id="order_lines">
	<thead>
		<tr>
			<th>Asset</th>
			<th>Quantity</th>
			<th>Unitary Price</th>
			<th>Price</th>
		</tr>
	</thead>
	<tbody>
		<% order.orderLines.each do |orderLine| %>
      <tr class="<%= cycle('even', 'odd')%>">
        <td><%= order_line.asset.name %></td>
        <td class="number"><%= order_line.quantity %></td>
        <td class="currency"><%= order_line.unitaryPrice %></td>
        <td class="currency"><%= number_to_currency(order_line.price) %></td>
      </tr>
		<% end %>
	</tbody>
</table>
