<tr class="<%= cycle('even', 'odd')%>">
  <td><%=h job.id %></td>
  <td><%=h job.priority %></td>
  <td><%=h job.attempts %></td>
  <td><%=h job.handler %></td>
  <td><%=h job.last_error %></td>
  <td><%=h job.run_at %></td>
  <td><%=h job.locked_at %></td>
  <td><%=h job.failed_at %></td>
  <td><%=h job.locked_by %></td>
  <td><%=h job.created_at %></td>
</tr>
