<table>
  <thead>
  <tr>
    <th><%= Job.human_attribute_name('id') %></th>
    <th><%= Job.human_attribute_name('priority') %></th>
    <th><%= Job.human_attribute_name('attempts') %></th>
    <th><%= Job.human_attribute_name('handler') %></th>
    <th><%= Job.human_attribute_name('last_error') %></th>
    <th><%= Job.human_attribute_name('run_at') %></th>
    <th><%= Job.human_attribute_name('locked_at') %></th>
    <th><%= Job.human_attribute_name('failed_at') %></th>
    <th><%= Job.human_attribute_name('locked_by') %></th>
    <th><%= Job.human_attribute_name('created_at') %></th>
  </tr>
  </thead>
  <tbody>
    <% jobs.each do |job| %>
      <tr class="<%= cycle('even', 'odd')%>">
        <td><%=h job.id %></td>
        <td><%=h job.priority %></td>
        <td><%=h job.attempts %></td>
        <td><%=h truncate(job.handler, :length => 100) %></td>
        <td><%=h truncate(job.last_error, :length => 100) %></td>
        <td><%=h job.run_at %></td>
        <td><%=h job.locked_at %></td>
        <td><%=h job.failed_at %></td>
        <td><%=h job.locked_by %></td>
        <td><%=h job.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
