-#Boutique is a saleroom website for Dofus resources, originally created
  for the merchant guild "Les Marchands d'Hyze"
  Copyright (C) 2013 - Jérémie Horhant (jeremie dot horhant at titinux dot net)

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.

%table
  %thead
  %tr
    %th= Delayed::Job.human_attribute_name('id')
    %th= Delayed::Job.human_attribute_name('priority')
    %th= Delayed::Job.human_attribute_name('attempts')
    %th= Delayed::Job.human_attribute_name('handler')
    %th= Delayed::Job.human_attribute_name('last_error')
    %th= Delayed::Job.human_attribute_name('run_at')
    %th= Delayed::Job.human_attribute_name('locked_at')
    %th= Delayed::Job.human_attribute_name('failed_at')
    %th= Delayed::Job.human_attribute_name('locked_by')
    %th= Delayed::Job.human_attribute_name('created_at')

  %tbody
    - jobs.each do |job|
      %tr{ :class => "#{cycle('even', 'odd')}" }
        %td= job.id
        %td= job.priority
        %td= job.attempts
        %td= truncate(job.handler, :length => 100)
        %td= truncate(job.last_error, :length => 100)
        %td= job.run_at
        %td= job.locked_at
        %td= job.failed_at
        %td= job.locked_by
        %td= job.created_at
