%table
  %thead
  %tr
    %th= Job.human_attribute_name('id')
    %th= Job.human_attribute_name('priority')
    %th= Job.human_attribute_name('attempts')
    %th= Job.human_attribute_name('handler')
    %th= Job.human_attribute_name('last_error')
    %th= Job.human_attribute_name('run_at')
    %th= Job.human_attribute_name('locked_at')
    %th= Job.human_attribute_name('failed_at')
    %th= Job.human_attribute_name('locked_by')
    %th= Job.human_attribute_name('created_at')

  %tbody
    - jobs.each do |job|
      %tr{ :class => "#{cycle('even', 'odd')}" }
        %td= job.id
        %td= job.priority
        %td= job.attempts
        %td= truncate(job.handler, :length => 100)
        %td= truncate(job.last_error, :length => 100)
        %td= job.run_at
        %td= job.locked_at
        %td= job.failed_at
        %td= job.locked_by
        %td= job.created_at
