<tr class="<%= cycle('even', 'odd')%>">
	<td><%=h order_line.asset.name %></td>
	<td class="number"><%=h order_line.quantity %></td>
	<td class="currency"><%=h order_line.unitaryPrice %></td>
	<td class="currency"><%=h order_line.price %></td>
</tr>
