%table
  %col{ :width => '100%'}
  %thead
    %tr
      %th= Asset.model_name.human.pluralize
      %th= Order.human_attribute_name('quantity')
      %th= Order.human_attribute_name('uPrice')
      %th= Order.human_attribute_name('price')

  %tbody>
    - order.orderLines.each do |order_line|
      %tr{ :class => "#{cycle('even', 'odd')}" }
        %td= order_line.asset.name
        %td.number= order_line.quantity
        %td.currency= order_line.unitaryPrice
        %td.currency= number_to_currency(order_line.price)
