<table>
	<col width="100%" />
	<thead>
		<tr>
			<th><%= Asset.model_name.human.pluralize %></th>
			<th class="number"><%= Order.human_attribute_name('quantity') %></th>
			<th class="currency"><%= Order.human_attribute_name('uPrice') %></th>
			<th class="currency"><%= Order.human_attribute_name('price') %></th>
		</tr>
	</thead>
	<tbody>
		<% order.orderLines.each do |order_line| %>
      <tr class="<%= cycle('even', 'odd')%>">
        <td><%=h order_line.asset.name %></td>
        <td class="number"><%=h order_line.quantity %></td>
        <td class="currency"><%=h order_line.unitaryPrice %></td>
        <td class="currency"><%=h number_to_currency(order_line.price) %></td>
      </tr>
		<% end %>
	</tbody>
</table>
