<table>
	<col width="100%" />
	<thead>
		<tr>
			<th><%= Asset.model_name.human.pluralize %></th>
			<th class="number"><%= Order.human_attribute_name('quantity') %></th>
			<th class="currency"><%= Order.human_attribute_name('uPrice') %></th>
			<th class="currency"><%= Order.human_attribute_name('price') %></th>
		</tr>
	</thead>
	<tbody>
		<% order.orderLines.each do |order_line| %>
			<%= render :partial => 'orders/row', :locals => { :order_line => order_line } %>
		<% end %>
	</tbody>
</table>
