<% block :tile => "Order n° {@order.id}" do %>
	<p>
		State : <%= orderStatusHash[@order.state] %>
	</p>
	<p>Amount : <%= @order.totalAmount %></p>
	
	<% block :title => 'Details' %>
		<%= render :partial => 'table', :locals => { :order => @order } %>
	<% end %>
	
	<% if @order.state == 'WAIT_ESTIMATE_VALIDATION' %>
		<%= link_to orderActionHash['ACCEPT_ESTIMATE'], orderAction_path(@order, :op => 'ACCEPT_ESTIMATE'), :method => :put %> | 
		<%= link_to orderActionHash['REFUSE_ESTIMATE'], orderAction_path(@order, :op => 'REFUSE_ESTIMATE'), :method => :put %>
	<% end %>
<% end %>
