-#Boutique is a saleroom website for Dofus resources, originally created
  for the merchant guild "Les Marchands d'Hyze"
  Copyright (C) 2013 - Jérémie Horhant (jeremie dot horhant at titinux dot net)

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.

= frame title: t('order.commandId', id: @order.id) do
  = show_for @order do |o|
    = o.attribute :state do
      = Order.human_state_name(@order.state)

    = o.attribute :total do
      = number_to_currency(@order.total, unit: 'K', precision: 0)

    = o.attribute :comment

  = frame title: t('order.details') do
    = render partial: 'order_lines_table', locals: { order: @order }


  - @order.state_events.select{ |e| [:quote_accepted, :cancel].include?(e)}.each do |event|
    %p= link_to Order.human_state_event_name(event), event_user_order_path(@order, event.to_s), method: :post

  %p= link_to_back user_orders_path
