-#Boutique is a saleroom website for Dofus resources, originally created
  for the merchant guild "Les Marchands d'Hyze"
  Copyright (C) 2011 - Jérémie Horhant (jeremie dot horhant at titinux dot net)

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.

= form_tag admin_logs_path, { :method => :get, :class => :horizontal } do
  %fieldset
    %legend= "#{t('filters')} :"

    %ol
      %li
        = label_tag :id
        = text_field_tag(:id, params[:id])

      %li
        = label_tag :level, Log.human_attribute_name(:level)
        = select_tag("level", my_select_options(Log.select('DISTINCT(`logs`.`level`)').order(:level).collect{|item| [item.level, item.level]}, :selected => params[:level], :include_blank => true) )

      %li
        = label_tag :user, User.model_name.human
        = select_tag("user", my_select_options(Log.select('DISTINCT(`logs`.`user`)').order(:user).collect{|item| [item.user, item.user]}, :selected => params[:user], :include_blank => true) )

      %li
        = label_tag :logAction, Log.human_attribute_name(:action)
        = select_tag("logAction", my_select_options(Log.select('DISTINCT(`logs`.`action`)').order(:action).collect{|item| [item.action, item.action]}, :selected => params[:logAction], :include_blank => true) )

      %li
        = label_tag :objectType, Log.human_attribute_name(:objectType)
        = select_tag("objectType", my_select_options(Log.select('DISTINCT(`logs`.`objectType`)').order(:objectType).collect{|item| [item.objectType, item.objectType]}, :selected => params[:objectType], :include_blank => true) )

      %li
        = label_tag :objectId, Log.human_attribute_name(:objectId)
        = text_field_tag(:objectId, params[:objectId])

      %li
        = label_tag :startDate, t(:startDate)
        = text_field_tag(:startDate, params[:startDate])

      %li
        = label_tag :endDate, t(:endDate)
        = text_field_tag(:endDate, params[:endDate])


    = submit_tag t('filter'), :name => nil
