%table
  %thead
    %tr
      %th= sort_link @search, :id
      %th= sort_link @search, :level
      %th= sort_link @search, :user, User.model_name.human
      %th= sort_link @search, :action
      %th= sort_link @search, :objectType
      %th= sort_link @search, :objectId
      %th= sort_link @search, :created_at
      %th= t('action').pluralize

  %tbody
    - @logs.each do |log|
      %tr{ :class => "#{cycle('even', 'odd')}" }
        %td= log.id
        %td= log.level
        %td= log.user
        %td= log.action
        %td= log.objectType
        %td= log.objectId
        %td= l(log.created_at)
        %td.actions
          = link_to_show admin_log_path(log)
