<table>
  <thead>
    <tr>
      <th><%= 'Id' %></th>
      <th><%= Log.human_attribute_name('level') %></th>
      <th><%= User.model_name.human %></th>
      <th><%= Log.human_attribute_name('action') %></th>
      <th><%= Log.human_attribute_name('objectType') %></th>
      <th><%= Log.human_attribute_name('objectId') %></th>
      <th><%= Log.human_attribute_name('created_at') %></th>
    </tr>
  </thead>
  <tbody>
    <% @logs.each do |log| %>
      <tr class="<%= cycle('even', 'odd')%>">
        <td><%=h log.id %></td>
        <td><%=h log.level %></td>
        <td><%=h log.user %></td>
        <td><%=h log.action %></td>
        <td><%=h log.objectType %></td>
        <td><%=h log.objectId %></td>
        <td><%=h l(log.created_at) %></td>
        <td class="actions">
          <%= link_to_show admin_log_path(log) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
