-#Boutique is a saleroom website for Dofus resources, originally created
  for the merchant guild "Les Marchands d'Hyze"
  Copyright (C) 2013 - Jérémie Horhant (jeremie dot horhant at titinux dot net)

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.

= content_title t('log.listing')

%p.filter
  = simple_form_for(@q, url: admin_logs_path) do |f|
    = f.input :id_eq, :label => Log.human_attribute_name(:id), :required => false
    = f.input :user_cont, :label => User.model_name.human, :required => false
    = f.input :action_eq, :label => Log.human_attribute_name(:action), :required => false
    = f.input :objectType_eq, :label => Log.human_attribute_name(:objectType), :required => false
    = f.input :objectId_eq, :label => Log.human_attribute_name(:objectId), :required => false
    = f.input :created_at_gt, :label => t('log.after'), :required => false
    = f.input :created_at_lt, :label => t('log.before'), :required => false

    .buttons
      = f.button :submit, t('helpers.submit.search')

= paginate @logs
= render :partial => 'table', :locals => { :logs => @logs }
= paginate @logs
