%h2= t('log.showing', :id => @log.to_param)

= show_for @log do |l|
  = l.attribute :id
  = l.attribute :created_at
  = l.attribute :level
  = l.attribute :user
  = l.attribute :action
  = l.attribute :objectType
  = l.attribute :objectId

  = l.attribute :data do
    - if @log.data.is_a? Hash
      = hash_to_table(@log.data)
    - else
      = @log.data.inspect

%p= link_to_back admin_logs_path
