%table
  %col{ :width => '100%' }
  %thead
    %tr
      %th= Cart.human_attribute_name(:name)
      %th= t('action').pluralize
  %tbody
    - carts.each do |cart|
      %tr{ :class => "#{cycle('even', 'odd')}" }
        %td= cart.name
        %td.actions
          = link_to_show user_cart_path(cart)
          = link_to_edit edit_user_cart_path(cart)
          = link_to_destroy user_cart_path(cart)
