<tr class="<%= cycle('even', 'odd')%>">
  <td><%=h guild.name %></td>
  <td><%=h guild.pictureUri %></td>
  <td class="actions">
  	<%= link_to_show admin_guild_path(guild) %>
  	<%= link_to_edit edit_admin_guild_path(guild) %>
  	<%= link_to_destroy admin_guild_path(guild) %>
	</td>
</tr>
