%h2= t('user.editing')

- form_for([:admin, @guild]) do |f|
  = f.error_messages

  %p
    = f.label :name, Guild.human_attribute_name('name')
    %br
    = f.text_field :name

  %p
    = f.label :pictureUri, Guild.human_attribute_name('pictureUri')
    %br
    = f.text_field :pictureUri

  %p= f.submit t('update')

= link_to_back admin_guilds_path
= link_to_show admin_guild_path(@guild)
