<h2><%= t('guild.new') %></h2>

<% form_for([:admin, @guild]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name, Guild.human_attribute_name('name') %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :pictureUri, Guild.human_attribute_name('pictureUri') %><br />
    <%= f.text_field :pictureUri %>
  </p>
  <p>
    <%= f.submit t('create') %>
  </p>
<% end %>

<%= link_to_back admin_guilds_path %>
