<p>
  <b><%= Guild.human_attribute_name('name') %>:</b>
  <%=h @guild.name %>
</p>

<p>
  <b><%= Guild.human_attribute_name('pictureUri') %>:</b>
  <%=h @guild.pictureUri %>
</p>


<%= link_to t('edit'), edit_admin_guild_path(@guild) %> |
<%= link_to t('back'), admin_guilds_path %>
