<p>
  <b><%= Guild.human_attribute_name('name') %>:</b>
  <%=h @guild.name %>
</p>

<p>
  <b><%= t('guild.blazon') %> :</b>
  <%= image_tag(@guild.pictureUri, :alt => t('pictureOf', :subject => @guild.name)) unless @guild.pictureUri.blank? %>
</p>

<%= link_to_back admin_guilds_path %>
<%= link_to_edit edit_admin_guild_path(@guild) %>
