<h1>Editing config element</h1>

<% form_for([:admin, @configElement]) do |f| %>
  <%= f.error_messages %>
  
	<% if @configElement.form_kind == 'string' %>
	<p>
    <%= f.label :value %>
    <%= f.text_field :value %>
  </p>
	<% end %>
	
	<% if @configElement.form_kind == 'select' %>
	<p>
		<%= f.label :value %>
		<%= f.collection_select(:value, @configElement.configValues, :name, :name)%>
	</p>
	<% end %>
	
	<% if @configElement.form_kind == 'radio' %>
		<% @configElement.configValues.each do |configValue| %>
			<%= f.radio_button :value, configValue.name %>
			<%=h configValue.name %>
			<br />
		<% end %>
	<% end %>
	
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Back', admin_config_tree_index_path %>

