<h1>Editing config element</h1>

<% form_for([:admin, @configElement]) do |f| %>
  <%= f.error_messages %>
  
	<p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
	<p>
		<%= f.label :form_kind %>
		<%= f.text_field :form_kind %>
	</p>	
	 <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Back', admin_config_tree_index_path %>


