<% pile = 0 %>

<% @configElements.each do |configElement| -%>
	<% if configElement.level > pile -%>
		<%= "<ul>" * (configElement.level - pile) %>
		<% pile = configElement.level -%>
	<% end -%>
	<% if configElement.level < pile -%>
		<%= "</ul>" * (pile - configElement.level) %>
		<% pile = configElement.level -%>
	<% end -%>
	
	<li><%=link_to h(configElement.name), edit_admin_config_tree_path(configElement, :edit => 'tree') %>
	<% unless configElement.form_kind.blank? -%>
	  : <%=h configElement.value %> <%= link_to '(Edit)', edit_admin_config_tree_path(configElement) %></li>
	<% end -%>
	</li>
	
<% end -%>

<%= "</ul>" * (pile) %>