= form_for(@deposit, :url => deposits_path, :html => { :method => :post }) do |f|
  = f.error_messages

  %p
    = f.collection_select(:asset_id, Asset.find(:all), :id, :name)
    = f.text_field :quantity_modifier

  %p= f.submit @deposit.new_record? ? t('create') : t('update')
