<table>
  <col width="100%" />
	<thead>
		<tr>
	    <th><%= Asset.model_name.human %></th>
	    <th><%= Deposit.human_attribute_name('quantity') %></th>
	  </tr>
	</thead>
	<tbody>
    <% deposits.each do |deposit| %>
      <tr class="<%= cycle('even', 'odd')%>">
        <td><%=h deposit.asset.name %></td>
        <td class="number"><%=h deposit.quantity %></td>
      </tr>
    <% end %>
	</tbody>
</table>
