= render :partial => 'shared/user_sidebar'

= block :title => t('deposit.waiting') do
  = render :partial => 'deposits/table', :locals => { :deposits => @deposits.validated(false) }

= block :title => t('deposit.validated') do
  = render :partial => 'deposits/table', :locals => { :deposits => @deposits.validated }

%p= link_to_add new_user_deposit_path, :text => t('deposit.new'), :format => :long
