= render :partial => 'shared/user_sidebar'

%h2= t('deposit.new')

= form_for(@deposit, :url => deposits_path, :html => { :method => :post }) do |f|
	= render :partial => 'form', :locals => { :f => f, :bt_name => t('create') }

= link_to_back deposits_path
