-#Boutique is a saleroom website for Dofus resources, originally created
  for the merchant guild "Les Marchands d'Hyze"
  Copyright (C) 2013 - Jérémie Horhant (jeremie dot horhant at titinux dot net)

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.

%table.table.table-bordered.table-striped
  %thead
  %tr
    %th=Job.human_attribute_name :jid
    %th=Job.human_attribute_name :enqueued_at
    %th=Job.human_attribute_name :worker_class
    %th=Job.human_attribute_name :args
    %th=Job.human_attribute_name :error_class
    %th=Job.human_attribute_name :error_message
    %th=Job.human_attribute_name :failed_at
    %th=Job.human_attribute_name :retry_count
    %th=Job.human_attribute_name :retried_at
    %th= t('action').pluralize(I18n.locale)

  %tbody
    - queue.jobs.each do |job|
      %tr
        %td= job.jid
        %td= l(job.enqueued_at)
        %td= job.klass
        %td= job.args
        %td= job.error_class
        %td= job.error_message
        %td
          - if job.failed_at
            = l(job.failed_at)

        %td= job.retry_count
        %td
          - if job.retried_at
            = l(job.retried_at)

        %td.actions
          = link_to_destroy [:admin, queue, job]
