-#Boutique is a saleroom website for Dofus resources, originally created
  for the merchant guild "Les Marchands d'Hyze"
  Copyright (C) 2013 - Jérémie Horhant (jeremie dot horhant at titinux dot net)

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.

= content_title t('queues.listing')

%p
  = JobQueue.human_attribute_name :processed
  \:
  = JobQueue.stats.processed

%p
  = JobQueue.human_attribute_name :failed
  \:
  = JobQueue.stats.failed

%ul.nav.nav-tabs
  - @queues.each_with_index do |queue, i|
    - name = t("job_queue.#{queue.name}")
    %li{ class: "#{'active' if i==0}" }= link_to "#{name} (#{queue.size})".capitalize, "##{queue.name}-queue", data: { toggle: 'tab' }

.tab-content
  - @queues.each_with_index do |queue, i|
    .tab-pane{ id: "#{queue.name}-queue", class: "#{'active' if i==0}" }
      = render partial: 'queue', locals: { queue: queue }
