= form_tag admin_deposits_path, { :method => :get, :class => :horizontal } do
  %fieldset
    %legend= "#{t('filters')} :"

    %ol
      %li
        = label_tag :approved, Deposit.human_attribute_name(:validated)
        = check_box_tag(:approved, 1, params[:approved])

      %li
        = label_tag :user_id, User.model_name.human
        = select_tag("user_id", my_select_options(User.all.collect {|u| [ u.name, u.id ] }, :selected => params[:user_id], :include_blank => true) )

      %li
        = label_tag :asset_id, Asset.model_name.human
        = select_tag("asset_id", my_select_options(Asset.all.collect {|a| [ a.name, a.id ] }, :selected => params[:asset_id], :include_blank => true) )

    = submit_tag t('filter'), :name => nil
