= simple_form_for(@deposit, :url => admin_deposits_path, :html => { :method => :post }) do |f|
  = f.error_messages

  = f.association :user
  = f.association :asset
  = f.input :quantity_modifier
  = f.input :validated

  .buttons
    = f.button :submit
