%table
  %col{ :width => '100%' }
  %thead
    %tr
      %th= User.model_name.human
      %th= Asset.model_name.human
      %th= Deposit.human_attribute_name('quantity')

  %tbody
    - deposits.each do |deposit|
      %tr{ :class => "#{cycle('even', 'odd')}" }
        %td= deposit.user.name
        %td= deposit.asset.name
        %td.number= deposit.quantity
        - unless deposit.validated
          %td>
            = link_to t('deposit.validate'), validate_admin_deposit_path(deposit), :method => :put
            = link_to t('deposit.refuse'), admin_deposit_path(deposit), :confirm => t('destroy_confirm'), :method => :delete

