%table
  %thead
    %tr
      %th= sort_link @search, :name
      %th= sort_link @search, :parent_name, Category.human_attribute_name(:parent)
      %th= t('picture')
      %th= t('action').pluralize

  %tbody
    - categories.each do |category|
      %tr{ :class => "#{cycle('even', 'odd')}" }
        %td= category.name
        %td= category.parent.name if category.parent
        %td.picture
          - unless category.pictureUri.blank?
            = image_tag(category.pictureUri, :alt => t('pictureOf', :subject => category.name), :width => 75, :height => 75)
        %td.actions
          = link_to_show [:admin, category]
          = link_to_edit edit_admin_category_path(category)
          = link_to_destroy [:admin, category], :confirm => t('destroy_confirm'), :method => :delete
