%h2= t('category.showing', :name => @category.name)

= show_for @category do |c|
  = c.attribute :name
  = c.association :parent
  = c.attribute :pictureUri do
    = image_tag(@category.pictureUri, :alt => t('pictureOf', :subject => @category.name))

= link_to_back admin_categories_path
= link_to_edit edit_admin_category_path(@category)

