%p
  = Category.human_attribute_name('name')
  \:
  = @category.name

%p
  = Category.human_attribute_name('parent')
  \:
  = @category.parent ? h(@category.parent.name) : 'none'

%p
  = t('picture')
  \:
  - unless @category.pictureUri.blank?
    = image_tag(@category.pictureUri, :alt => t('pictureOf', :subject => @category.name))

= link_to_back admin_categories_path
= link_to_edit edit_admin_category_path(@category)

