<p>
  <%= Category.human_attribute_name('name') %> : 
  <%=h @category.name %>
</p>
<p>
	<%= Category.human_attribute_name('parent') %> : 
	<%= @category.parent ? h(@category.parent.name) : 'none' %>
</p>
<p>
	<%= Category.human_attribute_name('pictureUri') %> : 
	<%=h @category.pictureUri %>
</p>

<%= link_to_back admin_categories_path %>
<%= link_to_edit edit_admin_category_path(@category) %>

