= content_title t('devise.passwords.change')

= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f|
  = devise_error_messages!
  = f.hidden_field :reset_password_token

  = f.input :password
  = f.input :password_confirmation

  .buttons
    = f.button :submit, t('devise.passwords.change_button')

= render :partial => 'users/shared/links'
