-#Boutique is a saleroom website for Dofus resources, originally created
  for the merchant guild "Les Marchands d'Hyze"
  Copyright (C) 2011 - Jérémie Horhant (jeremie dot horhant at titinux dot net)

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.

%table
  %col{ :width => '100%' }
  %thead
    %tr
      %th= Asset.model_name.human
      %th= CartLine.human_attribute_name(:quantity)
      %th= t('action').pluralize
  %tbody
    - cart.lines.joins(:asset).order(Asset.arel_table[:name]).each do |line|
      %tr{ :class => "#{cycle('even', 'odd')}" }
        %td= link_to line.asset.name, category_path(line.asset.category)
        %td.number= line.quantity
        %td.actions
          = link_to_edit edit_cart_line_path(line.cart, line)
          = link_to_destroy cart_line_path(line.cart, line)
