<h1>Editing order_line</h1>

<% form_for(@order_line) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :order %><br />
    <%= f.text_field :order %>
  </p>
  <p>
    <%= f.label :asset %><br />
    <%= f.collection_select(:asset_id, Asset.find(:all), :id, :name) %>
  </p>
  <p>
    <%= f.label :quantity %><br />
    <%= f.text_field :quantity %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @order_line %> |
<%= link_to 'Back', order_lines_path %>
