<p>
  <b>Order:</b>
  <%=h @order_line.order %>
</p>

<p>
  <b>Asset:</b>
  <%=h @order_line.asset.name %>
</p>

<p>
  <b>Quantity:</b>
  <%=h @order_line.quantity %>
</p>


<%= link_to 'Edit', edit_order_line_path(@order_line) %> |
<%= link_to 'Back', order_lines_path %>
