<% content_for :jstemplates do -%>
	<%= "var deposite='#{generate_template(f, :deposites)}'" %>
<% end -%>

<%= f.error_messages %>

<%= f.text_field :name %>
<%= f.text_field :dofusNicknames %>
<%= f.password_field :password %>
<%= f.text_field :email %>
<%= f.collection_select(:guild_id, Guild.find(:all), :id, :name, :include_blank => true) %>
<%= f.text_field :pigMoneyBox, :differential => :addMoney %>
<%= f.check_box :gatherer %>
<%= f.check_box :admin %>

<div id="deposites">
	<% f.fields_for :deposites, :builder => InLineFormBuilder do |dep| %>
		<% content_tag :div, :id => "user_deposite_#{dep.object.id}", :class => "deposite" do %>
			<%= render :partial => 'deposite_form', :locals => { :f => dep } %>
		<% end %>
	<% end %>
</div>

<p><%= link_to_function 'Add deposite', 'add_nested_form("deposite", "deposites")'%></p>

<%= f.submit bt_name %>
