= simple_form_for([:admin, @user]) do |f|
  = f.input :name
  = f.input :password
  = f.input :password_confirmation
  = f.input :dofusNicknames
  = f.input :email
  = f.association :guild
  = f.input :pigMoneyBox
  = f.input :gatherer
  = f.input :blocked, :as => :boolean

  .buttons
    = f.button :submit
