= f.error_messages

= f.text_field :name 
= f.password_field :password
= f.password_field :password_confirmation
= f.text_field :dofusNicknames
= f.text_field :email
= f.collection_select(:guild_id, Guild.find(:all), :id, :name, :include_blank => true)
= f.text_field :pigMoneyBox, :differential => :addMoney
= f.check_box :gatherer
= f.check_box :admin
= f.check_box :activated

= f.submit bt_name
