<tr class="<%= cycle('even', 'odd')%>">
  <td><%=h user.name %></td>
  <td>
  	<% unless user.guild.blank? %>
			<%=h user.guild.name %>
		<% end %>
	</td>
	<td><%=h user.email %></td>
	<td class="currency"><%=h user.pigMoneyBox %></td>
	<td><%=h user.gatherer %></td>
  <td><%=h user.admin %></td>
  <td>
  	<%= link_to t('show'), [:admin, user] %> |
  	<%= link_to t('edit'), edit_admin_user_path(user) %> |
  	<%= link_to t('destroy'), [:admin, user], :confirm => t('destroy_confirm'), :method => :delete %>
	</td>
</tr>
