<table>
	<thead>
		<tr>
			<th><%= User.human_attribute_name('name') %></th>
			<th><%= User.human_attribute_name('guild') %></th>
			<th><%= User.human_attribute_name('pigMoneyBox') %></th>
			<th><%= User.human_attribute_name('gatherer') %></th>
			<th><%= User.human_attribute_name('admin') %></th>
			<th><%= t('action').pluralize %></th>
		</tr>
	</thead>
	<tbody>
		<% users.each do |user| %>
		<%= render :partial => 'admin/users/row', :locals => { :user => user } %>
		<% end %>
	</tbody>
</table>
