-#Boutique is a saleroom website for Dofus resources, originally created
  for the merchant guild "Les Marchands d'Hyze"
  Copyright (C) 2013 - Jérémie Horhant (jeremie dot horhant at titinux dot net)

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.

%table.table.table-bordered.table-striped
  %thead
    %tr
      %th= sort_link @q, :name
      %th= sort_link @q, :guild_name, Guild.model_name.human
      %th= sort_link @q, :pigMoneyBox
      %th= sort_link @q, :gatherer
      %th= t('action').pluralize

  %tbody
    - users.each do |user|
      %tr
        %td= user.name
        %td
          - unless user.guild.blank?
            = user.guild.name

        %td.currency= number_to_currency(user.pigMoneyBox, unit: 'K', precision: 0)
        %td.boolean= boolean_to_image(user.gatherer)
        %td.actions
          = link_to_show admin_user_path(user)
          = link_to_edit edit_admin_user_path(user)
          = link_to_destroy admin_user_path(user)
