-#Boutique is a saleroom website for Dofus resources, originally created
  for the merchant guild "Les Marchands d'Hyze"
  Copyright (C) 2011 - Jérémie Horhant (jeremie dot horhant at titinux dot net)

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.

= content_title t('user.listing')

%p.filter
  = simple_form_for([:admin, @search], :html => {:novalidate => true}) do |f|
    = f.input :name_contains, :label => User.human_attribute_name(:name), :required => false
    = f.input :email_contains, :label => User.human_attribute_name(:email), :required => false
    = f.input :guild_name_equals, :label => Guild.model_name.human, :required => false
    = f.input :gatherer_is_true, :label => User.human_attribute_name(:gatherer), :as => :boolean

    .buttons
      = f.button :submit, t('helpers.submit.search')

= paginate @users
= render :partial => 'admin/users/table', :locals => { :users => @users }
= paginate @users

%br
= link_to_add new_admin_user_path, :text => t('user.new'), :format => :long
