-#Boutique is a saleroom website for Dofus resources, originally created
  for the merchant guild "Les Marchands d'Hyze"
  Copyright (C) 2013 - Jérémie Horhant (jeremie dot horhant at titinux dot net)

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.

= sidebar do
  = link_to_add new_admin_user_path, text: t('user.new'), format: :long

= content_title t('user.listing')

#user-filter.accordion
  .accordion-group
    .accordion-heading
      %a.accordion-toggle{ href: '#collapseOne', data: { toggle: 'collapse', parent: '#user-filter' }}
        %i.imoon-filter
        Filter

    #collapseOne.accordion-body.collapse
      .accordion-inner
        = simple_form_for(@q, url: admin_users_path, method: :get) do |f|
          = f.input :name_cont, label: User.human_attribute_name(:name), required: false
          = f.input :email_cont, label: User.human_attribute_name(:email), required: false
          = f.input :guild_name_cont, label: Guild.model_name.human, required: false
          = f.input :gatherer_true, label: User.human_attribute_name(:gatherer), as: :boolean

          .form-actions
            = f.button :submit, t('helpers.submit.search'), class: 'btn btn-primary'

= paginate @users
= render partial: 'admin/users/table', locals: { users: @users }
= paginate @users
