-#Boutique is a saleroom website for Dofus resources, originally created
  for the merchant guild "Les Marchands d'Hyze"
  Copyright (C) 2013 - Jérémie Horhant (jeremie dot horhant at titinux dot net)

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.

= content_title t('user.showing', :name => @user.name)

= show_for @user do |u|
  = u.attribute :name
  = u.attribute :dofusNicknames
  = u.association :guild, :using => :name
  = u.attribute :email
  = u.attribute :pigMoneyBox do
    = number_to_currency(@user.pigMoneyBox, unit: 'K', precision: 0)
  = u.attribute :gatherer
  = u.attribute :created_at
  = u.attribute :blocked do
    = @user.blocked ? t('show_for.yes') + " (#{l(@user.locked_at)})" : t('show_for.no')

  = u.attribute :confirmed_at? do
    = @user.confirmed? ? t('show_for.yes') + " (#{l(@user.confirmed_at)})" : t('show_for.no')

= paginate @deposits
= render :partial => 'admin/users/deposit_table', :locals => { :deposits => @deposits }
= paginate @deposits

%p
  = link_to_back admin_users_path
  = link_to_edit edit_admin_user_path(@user)
