%h2= t('user.showing', :name => @user.name)

= show_for @user do |u|
  = u.attribute :name
  = u.attribute :dofusNicknames
  = u.association :guild, :using => :name
  = u.attribute :email
  = u.attribute :pigMoneyBox do
    = number_to_currency(@user.pigMoneyBox)
  = u.attribute :gatherer
  = u.attribute :admin
  = u.attribute :activated
  = u.attribute :created_at

= render :partial => 'admin/users/deposit_table', :locals => { :deposits => @user.deposits.validated }

= link_to_back admin_users_path
= link_to_edit edit_admin_user_path(@user)
