<p>
  Name:
  <%=h @user.name %>
</p>

<p>
  Guild:
  <%=h @user.guild.name %>
</p>

<p>
	Email:
	<%=h @user.email %>
</p>

<p>
	PigMoneyBox:
	<%=h @user.pigMoneyBox %>
</p>

<p>
  Admin:
  <%=h @user.admin %>
</p>

<%= render :partial => 'admin/deposites/table', :locals => { :deposites => @user.deposites } %>

<%= link_to 'Edit', edit_admin_user_path(@user) %> |
<%= link_to 'Back', admin_users_path %>
