<p>
  <%= User.human_attribute_name('name') %>:
  <%=h @user.name %>
</p>

<p>
  <%= User.human_attribute_name('dofusNicknames') %>:
  <%=h @user.dofusNicknames %>
</p>

<p>
  <%= User.human_attribute_name('guild') %>:
	<%=h !@user.guild.blank? ? @user.guild.name : 'None' %>
</p>

<p>
	<%= User.human_attribute_name('email') %>:
	<%=h @user.email %>
</p>

<p>
	<%= User.human_attribute_name('pigMoneyBox') %>:
	<%=h number_to_currency(@user.pigMoneyBox) %>
</p>

<p>
  <%= User.human_attribute_name('gatherer') %>:
  <%=h @user.gatherer %>
</p>

<p>
  <%= User.human_attribute_name('admin') %>:
  <%=h @user.admin %>
</p>

<p>
  <%= User.human_attribute_name('activated') %>:
  <%=h @user.activated %>
</p>

<%= render :partial => 'deposite_table', :locals => { :deposites => @user.deposites.validated } %>

<%= link_to_back admin_users_path %>
<%= link_to_edit edit_admin_user_path(@user) %>
