= content_title t('user.showing', :name => @user.name)

= show_for @user do |u|
  = u.attribute :name
  = u.attribute :dofusNicknames
  = u.association :guild, :using => :name
  = u.attribute :email
  = u.attribute :pigMoneyBox do
    = number_to_currency(@user.pigMoneyBox)
  = u.attribute :gatherer
  = u.attribute :created_at
  = u.attribute :locked_at? do
    - if @user.locked_at?
      = t('show_for.yes') + " (#{l(@user.locked_at)})"
    - else
      = t('show_for.no')

  = u.attribute :confirmed_at? do
    - if @user.confirmed_at?
      = t('show_for.yes') + " (#{l(@user.confirmed_at)})"
    - else
      = t('show_for.no')

= render :partial => 'admin/users/deposit_table', :locals => { :deposits => @user.deposits.validated }

= link_to_back admin_users_path
= link_to_edit edit_admin_user_path(@user)
