!!! XML
!!! 5
%html{:'xml:lang' => 'fr', :xmlns => 'http://www.w3.org/1999/xhtml' }
  %head
    %meta{ :'http-equiv' => 'content-type', :content => 'text/html;charset=UTF-8'}

    %link{ :rel => 'icon', :type => 'image/png', :href => "#{image_path('global/favicon.png')}"}
    = csrf_meta_tag

    %title Boutique - Admin panel

    = stylesheet_link_tag 'admin.css'

  %body
    %div#global
      %div#header
        %h1 Admin Panel

      %div#topbar.admin
        = makeMenu('admin')

      %div#center
        - if flash[:notice]
          %p.flash.notice= flash[:notice]

        - if flash[:warning]
          %p.flash.warning= flash[:warning]

        - if flash[:error]
          %p.flash.error= flash[:error]

        - if content_for?(:content_title)
          = yield :content_title

        - if content_for?(:sidebar)
          %div#content
            = yield

          %div#sidebar
            = yield :sidebar
        - else
          = yield

      %div#footer
        = t('footerText')

    - if content_for?(:jstemplates)
      = javascript_tag do
        = yield(:jstemplates)

    - if Rails.env == 'production'
      = javascript_include_tag 'http://code.jquery.com/jquery-1.4.2.min.js'
    - else
      = javascript_include_tag 'http://code.jquery.com/jquery-1.4.2.js'
    = javascript_include_merged :base
