<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<link rel="icon" type="image/png" href="<%= image_path('global/favicon.png') %>" />
  <title>Boutique</title>
  <%= stylesheet_link_merged :admin %>
	<%= javascript_include_merged :base %>
</head>
<body>

<h1>Admin Panel</h1>

<div id="topbaradmin">
	<ul>
		<li><%= link_to 'Guilds', admin_guilds_path %></li>
		<li><%= link_to 'Users', admin_users_path %></li>
		<li><%= link_to 'Categories', admin_categories_path %></li>
		<li><%= link_to 'Assets', admin_assets_path %></li>
		<li><%= link_to 'Orders', admin_orders_path %></li>
		<li><%= link_to 'Waiting deposites', admin_deposites_path %></li>
		<li><%= link_to 'Config Tree', admin_config_tree_index_path %></li>
		<li><%= link_to 'Public part', root_path %></li>
	</ul>
</div>

<div id="main_part">
	<% unless flash[:notice].blank? -%>
		<p style="color: green"><%= flash[:notice] %></p>
	<% end -%>
	
  <%= yield %>
</div>

</body>
</html>