!!! XML
!!! 5
%html{:'xml:lang' => 'fr', :xmlns => 'http://www.w3.org/1999/xhtml' }
  %head
    %meta{ :'http-equiv' => 'content-type', :content => 'text/html;charset=UTF-8'}

    %link{ :rel => 'icon', :type => 'image/png', :href => "#{image_path('global/favicon.png')}"}
    = csrf_meta_tag

    %title Boutique - Admin panel

    = stylesheet_link_tag 'admin.css'

  %body
    #global{:class => [controller.controller_name, controller.action_name]}
      #header
        %h1 Admin Panel

      #topbar.admin
        = makeMenu('admin')

      #center
        = render_flash_messages

        - if content_for?(:content_title)
          = yield :content_title

        - if content_for?(:sidebar)
          #content
            = yield

          #sidebar
            = yield :sidebar
        - else
          = yield

      #footer
        = t('footerText')

    - if content_for?(:jstemplates)
      = javascript_tag do
        = yield(:jstemplates)

    = javascript_include_tag 'application'
