-#Boutique is a saleroom website for Dofus resources, originally created
  for the merchant guild "Les Marchands d'Hyze"
  Copyright (C) 2013 - Jérémie Horhant (jeremie dot horhant at titinux dot net)

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.

!!! 5
%html{ lang: I18n.locale.to_s }
  %head
    %meta{ charset: 'utf-8' }

    %link{ rel: 'icon', type: 'image/png', href: "#{image_path('global/favicon.png')}"}
    = csrf_meta_tags

    %title Boutique - Admin panel

    = stylesheet_link_tag 'admin.css'

  %body{class: page_class}
    %header
      %h1 Dofus Shop

      #user-menu
        =link_to '#', class: 'button tiny radius split' do
          = icon('cog')
          =t('user.profile')
          %span{ data: { dropdown: "drop" }}

        %ul#drop.f-dropdown{ data: { 'dropdown-content': true }}
          %li
            = link_to admin_administrator_path(current_administrator) do
              = icon('user')
              = t('user.my_profile')

          %li
            = link_to destroy_administrator_session_path, method: :delete do
              = icon('sign-out')
              = t('devise.links.sign_out')

        = link_to root_url, class: 'button tiny radius' do
          = icon('arrow-circle-o-up')
          = t('navigate.publicPart')

    %nav#main-menu
      %ul.accordion{ data: { accordion: true }}
        %li.accordion-navigation
          = link_to "#submenu-accounts" do
            = icon('users')
            = t('user.profile').pluralize(I18n.locale)

          %ul#submenu-accounts.content
            %li
              = link_to admin_administrators_path do
                = icon('user')
                = Administrator.model_name.human.pluralize(I18n.locale)
            %li
              = link_to admin_users_path do
                = icon('user')
                = User.model_name.human.pluralize(I18n.locale)

        %li.accordion-navigation
          = link_to "#submenu-dofus" do
            = icon('gamepad')
            = t('dofus.menu_entry')

          %ul#submenu-dofus.content
            %li= link_to Category.model_name.human.pluralize(I18n.locale), admin_categories_path
            %li= link_to Guild.model_name.human.pluralize(I18n.locale), admin_guilds_path
            %li= link_to Asset.model_name.human.pluralize(I18n.locale), admin_assets_path

        %li.accordion-navigation
          = link_to "#submenu-dofus_shop" do
            = icon('shopping-cart')
            = t('dofus.shop.menu_entry')

          %ul#submenu-dofus_shop.content
            %li= link_to Order.model_name.human.pluralize(I18n.locale), admin_orders_path
            %li= link_to Deposit.model_name.human.pluralize(I18n.locale), admin_deposits_path

        = link_to admin_statistics_path do
          = icon('line-chart')
          = t('statistics.name')


        = link_to admin_job_queues_path do
          = icon('industry')
          = JobQueue.model_name.human.pluralize(I18n.locale)

        = link_to admin_logs_path do
          = icon('archive')
          = Log.model_name.human.pluralize(I18n.locale)

        = link_to admin_about_path do
          = icon('star')
          = t('admin.about')

    %section#page
      #page-title
        = yield :content_title if content_for?(:content_title)
        %span.btn-group
          = yield :sidebar if content_for?(:sidebar)

      .breadcrumb

      #page-content.fluid-container
        #flash-messages.row-fluid
          = render_flash_messages

        = yield

      %footer.row-fluid
        = t('footerText')

    - if content_for?(:jstemplates)
      = javascript_tag do
        = yield(:jstemplates)

    = javascript_include_tag 'admin'
