!!! XML
!!! 5
%html{:'xml:lang' => 'fr', :xmlns => 'http://www.w3.org/1999/xhtml' }
  %head
    %meta{ :'http-equiv' => 'content-type', :content => 'text/html;charset=UTF-8'}

    %link{ :rel => 'icon', :type => 'image/png', :href => "#{image_path('global/favicon.png')}"}
    = csrf_meta_tag

    %title= t('siteTitle')

    = stylesheet_link_tag 'public.css'
    = javascript_include_merged :base

  %body
    %div#global
      %div#header
        %h1
          = t('siteTitle')
          %br
          = image_tag 'global/blason.png'

      %div#topbar.public
        = makeMenu('public')

      %div#center
        - if flash[:notice]
          %p.flash.notice= flash[:notice]

        - if flash[:warning]
          %p.flash.warning= flash[:warning]

        - if flash[:error]
          %p.flash.error= flash[:error]

        - if content_for?(:sidebar)
          %div#content
            = yield

          %div#sidebar
            = yield :sidebar
        - else
          = yield

      %div#footer
        = t('footerText')
