<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<meta http-equiv="Content-Script-Type" content="text/javascript" />
	<meta http-equiv="Content-Style-Type" content="text/css" />
	<link rel="icon" type="image/png" href="<%= image_path('global/favicon.png') %>" />
  <title>Boutique</title>
  <%= stylesheet_link_merged :base %>
	<%= javascript_include_merged :base %>
</head>
<body>
<div id="page">
	<div id="header">
		<p id="header_text">
			Marchands d'Hyze's shop<br />
			<%= image_tag 'global/blason.png' %>
		</p>
	</div>
	
	<div id="topbar">
		<%= makeMenu('public') %>
	</div>
	
	<div id="center">
		<div id="sidebar">
			<%= yield :sidebar %>
		</div>
		
		<div id="main_part">
			<% if flash[:notice] -%>
			  <p class="flash notice"><%= flash[:notice] %></p>
		  <% end -%>
			
			<% if flash[:warning] -%>
				<p class="flash warning"><%= flash[:warning] %></p>
			<% end -%>
			
			<% if flash[:error] -%>
				<p class="flash error"><%= flash[:error] %></p>
			<% end -%>
			
		  <%= yield %>
		</div>
	</div>
	
	<div id="footer">
		Illustrations Ankama (c) 2009. Programme J.Horhant H.Cheguillaume. Tous droits réservés.
	</div>
</div>
</body>
</html>
