<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<link rel="icon" type="image/png" href="<%= image_path('global/favicon.png') %>" />
  <title>Boutique</title>
  <%= stylesheet_link_merged :base %>
	<%= javascript_include_merged :base %>
</head>
<body>
<div id="page">
	<div id="header">
		<p id="header_text">
			Marchands d'Hyze's shop<br />
			<%= image_tag 'global/blason.png' %>
		</p>
	</div>
	
	<div id="topbar">
		<ul>
			<li><%= link_to t('navigate.welcomepage'), welcome_path %></li>
			<li><%= link_to Asset.human_name.pluralize, categories_path %></li>
			<li><%= link_to t('cart.name'), cart_index_path %></li>
			<li><%= link_to t('statistics.name'), statistics_path %></li>
			
			<% if user_session.login? %>
				<li><%= link_to t('userSession.profile'), user_path %></li>
				<% if user_session.user.admin %>
					<li><%= link_to t('navigate.adminPart'), admin_root_path %></li>
				<% end %>
				<li><%= link_to t('userSession.logout'), logout_path, :method => :delete %></li>
			<% else %>
				<li><%= link_to t('userSession.authenticate'), login_path %></li>
			<% end %>
		</ul>
	</div>
	
	<div id="center">
		<div id="sidebar">
			<%= yield :sidebar %>
		</div>
		
		<div id="main_part">
			<% if flash[:notice] -%>
			  <p class="flash notice"><%= flash[:notice] %></p>
		  <% end -%>
			
			<% if flash[:warning] -%>
				<p class="flash warning"><%= flash[:warning] %></p>
			<% end -%>
			
			<% if flash[:error] -%>
				<p class="flash error"><%= flash[:error] %></p>
			<% end -%>
			
		  <%= yield %>
		</div>
	</div>
	
	<div id="footer">
		www.DOFUS.com (c) 2004 Ankama Studio . Tous droits réservés.
	</div>
</div>
</body>
</html>
